* {
    padding: 0;
    margin: 0;
}

h1 {
    color: #0096FF;
    border: 2px solid black;
    /* padding: 50px; */
    /* margin: 20px; */
    /* background-color: yellow; */
}

h1:hover {
    color: green;
}

p {
    font-size: 30px;
    /* background-color: red; */
    /* display: inline; */
}

a {
    background-color: lightgreen;
    /* display: block; */
}

a:hover {
    background-color: yellow;
}

.p_block p:first-child {
    color: red
}

.p_block p:last-child {
    color: blue
}

.p_block p:nth-child(2), 
.p_block p:nth-child(4) {
    color: yellow;
}