* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Переменные со значениями */
}

.dark_mode {
    /* Переменные со значениями */
}

/* https://www.figma.com/design/SDNWLzCWkh9ZXdCpWEaByv/project-frontend?node-id=5251-7386&p=f&t=KfOouwrDkm3EJrZN-0 */