* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first_div {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: yellow;

    /* transform: scale(10); */
    /* transform: rotate(45deg);
    transform-origin: bottom right; */

    transition: transform 1s, background-color 1s;
}

.first_div:hover {
   transform: scale(2);
   background-color: purple;
}


@keyframes secondDivAnimation {
    from {
        opacity: 0; /* элемент не виден */
    }

    25% {
        opacity: 0.5 /* элемент виден на 50% */
    }

    50% {
        opacity: 0.7; /* элемент виден на 70% */
    }

    75% {
        opacity: 0.9 /* элемент виден на 90% */
    }

    to {
        opacity: 1; /* элемент виден на 100% */
        background-color: blue
    }
}

.second_div {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: red;

    animation: secondDivAnimation 5s;
    /* animation-iteration-count: 5; */
}

.second_div:hover {
    animation-play-state: paused;
}