@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --white: #fff;
    --primary-grey: #90a3bf;
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
}

h2 {
    color: var(--primary-black);
    font-size: 64px;
    font-weight: 700;
}

.wrapper {
    width: 1312px;
    margin: 0 auto;
}

/* MENU */
.header {
    padding: 32.5px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div > img:nth-child(2) {
    display: none;
}

.header > div > img:last-child {
    display: none;
    cursor: pointer;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 96px;
    font-size: 20px;
}

.header ul > li:last-child {
    font-weight: 500;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: black;
}

/* TICKETS */
#tickets {
    padding-top: 64px;
    padding-bottom: 128px;
}

#tickets > div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#tickets > div > div {
    width: 640px;
}

#tickets > div > img {
    width: 640px;
    height: 704px;
    object-fit: contain;
    transform: scale(-1);
}

/* ACHIEVEMENTS */
#achievements {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 59.5px 0;
}

#achievements > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#achievements > div > div > p {
    text-align: center;
}

#achievements > div > div > p:first-child {
    font-size: 50px;
    font-weight: 700;
}

#achievements > div > div > p:last-child {
    font-size: 20px;
    font-weight: 500;
}


/* GALLERY */
#gallery {
    padding: 130px 0;
}

#gallery > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#gallery > div > div {
    display: grid;
    grid-template-columns: 528px 305px 416px;
    grid-template-rows: 376px 88px 264px;
    gap: 24px;
}

#gallery > div > div > img {
    object-fit: cover;
    border-radius: 10px;
}

#gallery > div > div > img:first-child {
    width: 528px;
    height: 376px;
}

#gallery > div > div > img:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 305px;
    height: 489px;
}

#gallery > div > div > img:nth-child(3) {
    grid-row: 1 / span 2;
    grid-column: 3;
    width: 416px;
    height: 489px;
}

#gallery > div > div > img:nth-child(4) {
    grid-row: 2 / span 2;
    width: 528px;
    height: 376px;
}

#gallery > div > div > img:last-child {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    width: 753px;
    height: 264px;
}

/* APPs */

#apps {
    background-color: var(--good-yellow);
    padding: 130px 0;
}

#apps .wrapper_apps {
    width: 1312px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apps .wrapper_apps > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 148px;
    flex-wrap: wrap;
}

h3 {
    color: var(--primary-black);
    font-size: 62px;
    font-weight: 700;
}

/* FAQ */
#faqs {
    padding: 128px 177px;
    display: flex;
    justify-content: center; /* горизонтальное центрирование */
    align-items: center; /* вертикальное центрирование */
}

/* Контейнер аккордеона — центрированный */
.wrapper_faqs {
    display: flex;
    flex-direction: column;
    width: 1086px;
    /*max-width: 100%; !* чтобы на маленьких экранах не вылезал *!*/
}

.wrapper_faqs h2 {
    font-weight: 700;
    font-size: 64px;
    color: var(--primary-black);
    text-align: left; /* заголовок по центру */
    margin-bottom: 40px; /* отступ до аккордеона */
    padding-bottom: 0;
}

/* Убираем стандартный маркер у details */
details {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

details summary {
    list-style: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 18px;
    padding: 8px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-black);
}

details summary::-webkit-details-marker {
    display: none;
}

/* Добавляем иконку "+" */
details summary::after {
    content: "+";
    font-size: 24px;
    font-weight: 400;
    transition: transform 0.3s ease;
    color: var(--primary-black);
}

/* Меняем иконку при открытом состоянии (крестик) */
details[open] summary::after {
    content: "✕";
    font-size: 14px;
    font-weight: bold;

}

/* Стили для ответа */
.answer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 16px;
    color: var(--primary-black);
    line-height: 1.5;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0;
}

/* Плавная анимация открытия */
details .answer {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*END FAQ*/

@media (max-width: 1312px) {
    .wrapper {
        width: 704px;
    }

    .header > div > img:last-child {
        display: inline;
    }

    .header nav {
        display: none;
        background-color: var(--primary-blue);
        color: var(--white);
        padding: 64px 20px;

        position: absolute;
        top: 116px;
        left: 0;
        width: 100%;
    }

    .header ul {
        flex-direction: column;
        font-size: 48px;
    }

    .header a {
        color: var(--white);
    }

    #achievements > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 105px);
        row-gap: 40px;
    }

    #gallery > div > div {
        display: grid;
        grid-template-columns: repeat(2, 340px);
        grid-template-rows: 380px 362px 425px 225px;
    }

    #gallery > div > div > img:first-child {
        width: 704px;
        height: 380px;
    }

    #gallery > div > div > img:nth-child(2) {
        grid-row: 3;
        grid-column: 1;
        width: 340px;
        height: 425px;
    }

    #gallery > div > div > img:nth-child(3) {
        grid-row: 3;
        grid-column: 2;
        width: 340px;
        height: 425px;
    }

    #gallery > div > div > img:nth-child(4) {
        width: 704px;
        height: 362px;
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #gallery > div > div > img:last-child {
        grid-row: 4;
        grid-column: 1 / span 2;
        width: 704px;
        height: 225px;
    }

    #faqs {
        padding: 128px 32px;
    }

}


@media (max-width: 704px) {
    .wrapper {
        width: 320px;
    }

    .header > div > img:first-child {
        display: none;
    }

    .header > div > img:nth-child(2) {
        display: inline;
    }

    .header nav {
        top: 99px;
    }

    .header ul {
        font-size: 32px;
        gap: 64px;
    }

    #achievements > div {
        row-gap: 30px;
        column-gap: 40px;
    }

    #achievements > div > div > p:first-child {
        font-size: 40px;
    }

    #achievements > div > div > p:last-child {
        font-size: 16px;
    }

    #faqs {
        padding: 64px 20px;
    }
}