* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.square {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.hidden {
    display: none;
}